In [219]:
import pyspark
from pyspark.sql import SparkSession
import yfinance as yahooFinance
import pandas as pd

In [220]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [221]:
# Import packages
import yfinance as yf
import pandas as pd

# Read and print the stock tickers that make up S&P500
tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers.to_csv("list_500_companies.csv")

In [124]:
!wc -l list_500_companies.csv

504 list_500_companies.csv

In [77]:
df = spark.read \
    .option("header", "true") \
    .csv('list_500_companies.csv')

In [86]:
df.show()

24/04/12 12:21:24 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Symbol, Security, GICS Sector, GICS Sub-Industry, Headquarters Location, Date added, CIK, Founded
 Schema: _c0, Symbol, Security, GICS Sector, GICS Sub-Industry, Headquarters Location, Date added, CIK, Founded
Expected: _c0 but found:
CSV file: file:///workspaces/RKZoomCamp2024/list_500_companies.csv
+---+------+--------------------+--------------------+--------------------+---------------------+----------+-------+-----------+
|_c0|Symbol|            Security|         GICS Sector|   GICS Sub-Industry|Headquarters Location|Date added|    CIK|    Founded|
+---+------+--------------------+--------------------+--------------------+---------------------+----------+-------+-----------+
|  0|   MMM|                  3M|         Industrials|Industrial Conglo...| Saint Paul, Minne...|1957-03-04|  66740|       1902|
|  1|   AOS|         A. O. Smith|         Industrials|   Building Products| Milwaukee, Wisconsin|2017-07-26|  91142|       1916|
|  2|   ABT|              Abbott|         Health Care|Health Care Equip...| North Chicago, Il...|1957-03-04|   1800|       1888|
|  3|  ABBV|              AbbVie|         Health Care|       Biotechnology| North Chicago, Il...|2012-12-31|1551152|2013 (1888)|
|  4|   ACN|           Accenture|Information Techn...|IT Consulting & O...|      Dublin, Ireland|2011-07-06|1467373|       1989|
|  5|  ADBE|          Adobe Inc.|Information Techn...|Application Software| San Jose, California|1997-05-05| 796343|       1982|
|  6|   AMD|Advanced Micro De...|Information Techn...|      Semiconductors| Santa Clara, Cali...|2017-03-20|   2488|       1969|
|  7|   AES|     AES Corporation|           Utilities|Independent Power...|  Arlington, Virginia|1998-10-02| 874761|       1981|
|  8|   AFL|               Aflac|          Financials|Life & Health Ins...|    Columbus, Georgia|1999-05-28|   4977|       1955|
|  9|     A|Agilent Technologies|         Health Care|Life Sciences Too...| Santa Clara, Cali...|2000-06-05|1090872|       1999|
| 10|   APD|Air Products and ...|           Materials|    Industrial Gases| Allentown, Pennsy...|1985-04-30|   2969|       1940|
| 11|  ABNB|              Airbnb|Consumer Discreti...|Hotels, Resorts &...| San Francisco, Ca...|2023-09-18|1559720|       2008|
| 12|  AKAM|              Akamai|Information Techn...|Internet Services...| Cambridge, Massac...|2007-07-12|1086222|       1998|
| 13|   ALB|Albemarle Corpora...|           Materials| Specialty Chemicals| Charlotte, North ...|2016-07-01| 915913|       1994|
| 14|   ARE|Alexandria Real E...|         Real Estate|        Office REITs| Pasadena, California|2017-03-20|1035443|       1994|
| 15|  ALGN|    Align Technology|         Health Care|Health Care Supplies|       Tempe, Arizona|2017-06-19|1097149|       1997|
| 16|  ALLE|            Allegion|         Industrials|   Building Products|      Dublin, Ireland|2013-12-02|1579241|       1908|
| 17|   LNT|      Alliant Energy|           Utilities|  Electric Utilities|   Madison, Wisconsin|2016-07-01| 352541|       1917|
| 18|   ALL|            Allstate|          Financials|Property & Casual...| Northbrook, Illinois|1995-07-13| 899051|       1931|
| 19| GOOGL|Alphabet Inc. (Cl...|Communication Ser...|Interactive Media...| Mountain View, Ca...|2014-04-03|1652044|       1998|
+---+------+--------------------+--------------------+--------------------+---------------------+----------+-------+-----------+
only showing top 20 rows

In [131]:
# in order to specify start date and 
# end date we need datetime package
import datetime
 
# startDate , as per our convenience we can modify
startDate = datetime.datetime(2017, 1, 1)
 
# endDate , as per our convenience we can modify
endDate = datetime.datetime(2023, 12, 31)

In [176]:
#files = ['META', 'AMZN', 'GOOGL', 'AMD']
files = ['META', 'AMZN']
print(files)

['META', 'AMZN']

In [177]:
for f in files:
    stock = yahooFinance.Ticker(f)
    # pass the parameters as the taken dates for start and end
    hist = stock.history(start=startDate,end=endDate)
    hist.to_csv(f'{f}_hist.csv')
    file_name = f'{f}_hist.csv'
    print(file_name)

META_hist.csv
AMZN_hist.csv

In [178]:
!wc -l {file_name}

1761 AMZN_hist.csv

In [179]:
df = spark.read \
    .option("header", "true") \
    .csv(file_name)

In [180]:
df.show()

+--------------------+------------------+------------------+------------------+------------------+---------+---------+------------+
|                Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+--------------------+------------------+------------------+------------------+------------------+---------+---------+------------+
|2017-01-03 00:00:...|37.895999908447266|  37.9379997253418|  37.3849983215332| 37.68349838256836| 70422000|      0.0|         0.0|
|2017-01-04 00:00:...|37.919498443603516| 37.98400115966797|37.709999084472656| 37.85900115966797| 50210000|      0.0|         0.0|
|2017-01-05 00:00:...| 38.07749938964844|39.119998931884766| 38.01300048828125|39.022499084472656|116602000|      0.0|         0.0|
|2017-01-06 00:00:...| 39.11800003051758| 39.97200012207031| 38.92399978637695| 39.79949951171875|119724000|      0.0|         0.0|
|2017-01-09 00:00:...|39.900001525878906|  40.0885009765625|  39.5885009765625| 39.84600067138672| 68922000|      0.0|         0.0|
|2017-01-10 00:00:...| 39.83000183105469|39.900001525878906| 39.47700119018555| 39.79499816894531| 51168000|      0.0|         0.0|
|2017-01-11 00:00:...| 39.68299865722656|39.974998474121094| 39.47549819946289| 39.95100021362305| 59856000|      0.0|         0.0|
|2017-01-12 00:00:...|40.015499114990234| 40.70650100708008|39.974998474121094| 40.68199920654297| 97478000|      0.0|         0.0|
|2017-01-13 00:00:...|40.715999603271484| 41.08250045776367| 40.56999969482422|40.856998443603516| 75838000|      0.0|         0.0|
|2017-01-17 00:00:...| 40.78499984741211| 40.79999923706055|40.172000885009766|40.486000061035156| 73410000|      0.0|         0.0|
|2017-01-18 00:00:...|40.474998474121094| 40.58649826049805|  40.2135009765625|40.374000549316406| 47084000|      0.0|         0.0|
|2017-01-19 00:00:...|              40.5|40.675498962402344| 40.36600112915039| 40.45199966430664| 50816000|      0.0|         0.0|
|2017-01-20 00:00:...|40.763999938964844| 40.80099868774414|  40.3129997253418|40.416500091552734| 67524000|      0.0|         0.0|
|2017-01-23 00:00:...| 40.34000015258789| 40.92499923706055| 40.25400161743164| 40.89400100708008| 55950000|      0.0|         0.0|
|2017-01-24 00:00:...|41.099998474121094|41.199501037597656|40.724998474121094| 41.12200164794922| 59434000|      0.0|         0.0|
|2017-01-25 00:00:...| 41.28950119018555| 41.87099838256836| 41.26449966430664| 41.82600021362305| 78452000|      0.0|         0.0|
|2017-01-26 00:00:...|  41.7765007019043| 42.19200134277344|41.650001525878906| 41.95750045776367| 71726000|      0.0|         0.0|
|2017-01-27 00:00:...| 41.95000076293945| 41.98500061035156| 41.47200012207031| 41.78850173950195| 59974000|      0.0|         0.0|
|2017-01-30 00:00:...|41.650001525878906| 41.67499923706055|40.819000244140625| 41.51900100708008| 74946000|      0.0|         0.0|
|2017-01-31 00:00:...|           41.1875|  41.3494987487793| 40.97800064086914| 41.17399978637695| 62744000|      0.0|         0.0|
+--------------------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [181]:
df.schema

StructType([StructField('Date', StringType(), True), StructField('Open', StringType(), True), StructField('High', StringType(), True), StructField('Low', StringType(), True), StructField('Close', StringType(), True), StructField('Volume', StringType(), True), StructField('Dividends', StringType(), True), StructField('Stock Splits', StringType(), True)])

In [182]:
!head -n 1001 {file_name} > head.csv

In [183]:
import pandas as pd

In [184]:
df_pandas = pd.read_csv('head.csv')

In [185]:
df_pandas.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
dtype: object

In [186]:
#spark.createDataFrame(df_pandas).schema

In [187]:
from pyspark.sql import types

In [188]:
#schema = types.StructType([
#    types.StructField('_c0', types.IntegerType(), True),
#    types.StructField('Symbol', types.StringType(), True),
#    types.StructField('Security', types.StringType(), True),
#    types.StructField('GICS Sector', types.StringType(), True),
#    types.StructField('GICS Sub-Industry', types.StringType(), True),
#    types.StructField('Date added', types.DateType(), True),
#    types.StructField('CIK', types.StringType(), True),
#    types.StructField('Founded', types.StringType(), True)
#])
schema = types.StructType([
    types.StructField('Date', types.DateType(), True),
    types.StructField('Open', types.FloatType(), True),
    types.StructField('High', types.FloatType(), True),
    types.StructField('Low', types.FloatType(), True),
    types.StructField('Close', types.FloatType(), True),
    types.StructField('Volume', types.IntegerType(), True),
    types.StructField('Dividends', types.FloatType(), True),
    types.StructField('Stock Splits', types.FloatType(), True)
])

In [189]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv(file_name)

In [190]:
df = df.repartition(24)

In [195]:
path = f'yf/{files[1]}/2023/'

In [196]:
print(path)

yf/AMZN/2023/

In [201]:
df.write.parquet(path, mode='overwrite')

In [203]:
df = spark.read.parquet(path)

In [204]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Dividends: float (nullable = true)
 |-- Stock Splits: float (nullable = true)

In [205]:
df.registerTempTable('yf_amzn_2023')

/home/codespace/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [216]:
df_result = spark.sql("""
SELECT
    Date, Volume
FROM
    yf_amzn_2023
WHERE 
    High > 40.0
""")

In [217]:
df_result.show()

+----------+---------+
|      Date|   Volume|
+----------+---------+
|2022-12-07| 68086900|
|2017-07-27|219834000|
|2017-09-18| 68226000|
|2020-01-14| 68818000|
|2020-11-18| 58336000|
|2019-03-20|125312000|
|2021-12-21| 55956000|
|2022-11-22| 62192000|
|2019-04-29| 80426000|
|2023-09-05| 40636700|
|2022-02-28| 57684000|
|2018-07-02| 63714000|
|2021-04-09| 86830000|
|2018-07-23| 77770000|
|2023-12-01| 39924600|
|2019-09-30| 52894000|
|2021-11-23| 73804000|
|2018-10-24|138568000|
|2017-07-18| 80152000|
|2018-12-07|151522000|
+----------+---------+
only showing top 20 rows

In [218]:
df_result.coalesce(1).write.parquet('yf/out/', mode='overwrite')